In [20]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [21]:
df = pd.read_csv('train.csv')

In [22]:
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [23]:
import statsmodels.api as sm
#features
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]

# Encode categorical variables (convert 'Sex' to numerical)
X.loc[:, 'Sex'] = X['Sex'].map({'female': 0, 'male': 1})
# Handle missing values
X['Age'].fillna(X['Age'].median(), inplace=True)

# Add intercept term
X = sm.add_constant(X)
Y = df['Survived']

C:\Users\victus\AppData\Local\Temp\ipykernel_25008\2758132718.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.loc[:, 'Sex'] = X['Sex'].map({'female': 0, 'male': 1})
C:\Users\victus\AppData\Local\Temp\ipykernel_25008\2758132718.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X.loc[:, 'Sex'] = X['Sex'].map({'female': 0, 'male': 1})
C:\Users\victus\AppData\Local\Temp\ipykernel_25008\2758132718.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'].fillna(X['Age'].median(), inplace=True)

In [24]:
from sklearn import model_selection
x_train,x_test,y_train,y_test = model_selection.train_test_split(X,Y, test_size=0.2, random_state=42)

In [25]:
x_train

     const  Pclass  Sex   Age  SibSp  Parch     Fare
235    1.0       3    1  27.0      0      0   6.9750
399    1.0       1    0  47.0      1      1  52.5542
602    1.0       3    1  24.0      0      0   7.1417
61     1.0       1    1  35.0      0      0  26.5500
145    1.0       2    1  52.0      0      0  13.0000
..     ...     ...  ...   ...    ...    ...      ...
71     1.0       2    1  21.0      2      0  73.5000
106    1.0       3    1  22.0      0      0   8.0500
270    1.0       3    1  29.0      1      1  15.2458
435    1.0       3    1  32.0      0      0   8.0500
102    1.0       1    1  30.0      0      0  27.7500

[534 rows x 7 columns]

In [26]:
x_test

     const  Pclass  Sex   Age  SibSp  Parch      Fare
361    1.0       1    1  29.0      0      0   26.0000
158    1.0       3    0  15.0      0      0    8.0292
477    1.0       2    1  29.0      0      0    0.0000
517    1.0       3    1  30.0      0      0    7.2500
275    1.0       2    1  48.0      0      0   13.0000
..     ...     ...  ...   ...    ...    ...       ...
537    1.0       2    0  29.0      0      0   33.0000
523    1.0       2    1  30.0      0      0   10.5000
549    1.0       3    1  29.0      0      0   14.5000
212    1.0       1    0  21.0      0      0   77.9583
18     1.0       1    1  38.0      0      1  153.4625

[134 rows x 7 columns]

In [27]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

In [28]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

C:\Users\victus\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
y_train_pred = clf.predict(x_train)

In [30]:
clf.score(x_train,y_train)

0.7808988764044944

In [31]:
clf.predict_proba(x_train)

array([[0.86356018, 0.13643982],
       [0.18472053, 0.81527947],
       [0.84915626, 0.15084374],
       ...,
       [0.91002612, 0.08997388],
       [0.8844441 , 0.1155559 ],
       [0.49046717, 0.50953283]])

In [32]:
v =clf.predict(x_test) - y_test     # Whenever we get 0 means it is a correct classification

In [33]:
v

361    1
158    0
477    0
517    0
275    0
      ..
537    0
523    0
549    0
212    0
18     1
Name: Survived, Length: 134, dtype: int64

In [34]:
clf.predict_proba(x_train)[0]

array([0.86356018, 0.13643982])

In [37]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train,y_train_pred)

array([[276,  50],
       [ 67, 141]], dtype=int64)

In [39]:
from sklearn.metrics import classification_report
print(classification_report(y_train,y_train_pred))

              precision    recall  f1-score   support

           0       0.80      0.85      0.83       326
           1       0.74      0.68      0.71       208

    accuracy                           0.78       534
   macro avg       0.77      0.76      0.77       534
weighted avg       0.78      0.78      0.78       534